node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

**/.env
lambda-app-build
lambda_app/src/*/**.js
lambda_app/src/*.js

lambda_app/test/*/**.js
lambda_app/test/*.js

lambda_app/scripts/*/**.js
lambda_app/scripts/*.js

build
cdk.out
.env